/*
 * uni-app uni.scss 内容，可直接修改
 * 参考 https://uniapp.dcloud.io/collocation/uni-scss
 */
// 行为相关色
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

// 文字基本色
$uni-text-color: #333; // 基本色
$uni-text-color-inverse: #fff; // 反色
$uni-text-color-grey: #999; // 辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable: #c0c0c0;

// 背景色
$uni-bg-color: #fff;
$uni-bg-color-grey: #f8f8f8;
$uni-bg-color-hover: #f1f1f1; // 点击状态色
$uni-bg-color-mask: rgba(0, 0, 0, 40%); // 遮罩色
// 边框色
$uni-border-color: #c8c7cc;

// 文字尺寸
$uni-font-size-sm: 24rpx;
$uni-font-size-base: 28rpx;
$uni-font-size-lg: 32rpx;

// 图片尺寸
$uni-img-size-sm: 40rpx;
$uni-img-size-base: 52rpx;
$uni-img-size-lg: 80rpx;

// 边框圆角尺寸
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

// 内边距尺寸
$uni-spacing-row-sm: 10rpx;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

// 外边距尺寸
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

// 透明度变量
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度
// 文章场景变量
$uni-color-title: #2c405a; // 文章标题色
$uni-font-size-title: 40rpx;
$uni-color-subtitle: #555; // 二级标题色
$uni-font-size-subtitle: 36rpx;
$uni-color-paragraph: #3f536e; // 文章段落色
$uni-font-size-paragraph: 30rpx;
